<header class="ta-c pb-2" style="padding-top: 60px;">

  <h1 class="ff-normal site-title">Bird Call <span class="c-grey">Review</span></h1>

  <p class="site-desc mt-1 c-grey fs-i">Bird calls are incredibly diverse. But are they all good? Are some just okay? Can a bird call be sexy? Let's&nbsp;find&nbsp;out.</p>

  <img src="/img/birds.png" alt="Birds on Branch" style="width: 400px">

  <div style="line-height: 3em;" class="px_.75 py_.5 mx_.2">
    <a class="c-darkgrey bc-lightgrey bs-s bw-1p bs-3p" href="https://itunes.apple.com/us/podcast/bird-call-review/id1084057771?mt=2">iTunes</a>
    <a class="c-darkgrey bc-lightgrey bs-s bw-1p bs-3p" href="overcast://x-callback-url/add?url=birdcallreview.com/feed.xml">Overcast</a>
    <a class="c-darkgrey bc-lightgrey bs-s bw-1p bs-3p" href="downcast://birdcallreview.com/feed.xml">Downcast</a>
    <!-- <a class="c-darkgrey bc-lightgrey bs-s bw-1p bs-3p" href="podcast://birdcallreview.com/feed.xml">Podcasts.app</a> -->
    <a class="c-darkgrey bc-lightgrey bs-s bw-1p bs-3p" href="http://birdcallreview.com/feed.xml">RSS</a>
  </div>

</header>
